@model List<RSSReader.Models.Article>

@{
}

@if(Model != null)
{
    <h3>Articles of (@ViewBag.FeedName)</h3>
    <a style="display: inline-block;width: 135px; margin-bottom:30px" asp-action="Articles" asp-controller="Feeds" class="btn btn-primary">Reload</a>
    <a style="display: inline-block;width: 135px; margin-bottom:30px" asp-action="Index" asp-controller="Feeds" class="btn btn-warning">Back</a>


    <h5 class="text-decoration-underline">Filter</h5>
    
    <form id="filter">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="text" class="form-control" id="startDate" name="startDate" autocomplete="off">
            </div>
            <div class="col-md-3">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="text" class="form-control" id="endDate" name="endDate" autocomplete="off">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" style="margin-top: 16px; width: 100px" class="btn btn-warning">Search</button>
            </div>
        </div>
    </form>


    <h5 class="text-decoration-underline mb-3">Search by title</h5>

    <form id="search">
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" class="form-control" id="title" name="title" autocomplete="off">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" style="width: 100px" class="btn btn-warning">Search</button>
            </div>
        </div>
    </form>

    <hr class="mt-5"/>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>PubDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td>@article.Title</td>
                    <td>@article.PubDate</td>
                </tr>
            }
        </tbody>
    </table>  
}
else
{
    <h1>No Articles for this URL</h1>
}

