@model List<RSSReader.Models.Feed>

@{
}

<h3>Feeds</h3>

<h5 class="text-decoration-underline mb-3">Search by Name</h5>

<form id="search">
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" id="name" name="name" autocomplete="off">
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <button type="submit" style="width: 100px" class="btn btn-warning">Search</button>
        </div>
    </div>
</form>

<hr class="mt-5" />


<form method="post" asp-controller="Feeds" asp-action="DeleteAll">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Details</th>
                <th>Articles</th>
                <th><input type="checkbox" id="selectAll"/></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var feed in Model)
            {
                <tr>
                    <td>@feed.Name</td>
                    <td>@feed.Url</td>
                    <td> <a title="View Details" href="Feeds/Details/@feed.Id">📜</a> </td>
                    <td> <a title="View Article" href="Feeds/Articles/@feed.Id">🎫</a> </td>
                    <td>
                        <input value="@feed.Id" type="checkbox" name="selectedItems">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Delete Selected</button>
</form>
