@{
    ViewData["Title"] = "RSS Reader Introduction";
}

<div class="container mt-5">
    <h1 class="mb-4">RSS Reader</h1>

    <div class="mb-4">
        <h4>Definition</h4>
        <p>An RSS (Really Simple Syndication) Reader is a software or web-based tool that allows users to subscribe to and read content from various websites and sources in a unified interface. It aggregates and displays articles and updates from multiple sources, providing users with a convenient way to stay updated on their favorite websites and topics.</p>
    </div>


    <div class="mb-4">
        <h4>The following tasks were done.</h4>
        <ul>
            <li>Add RSS feed (URL + Name)</li>
            <li>List of all feeds</li>
            <li>Delete feed</li>
            <li>Detail of feed</li>
            <li>List of all articles in the feed</li>
            <li>Filter articles by date (from-to)</li>
            <li>Reload articles in feed</li>
            <li>Add checkbox for deleting feeds</li>
            <li>Add button for checking all checkboxes</li>
            <li>Search in feeds (by name) or in articles (by title)</li>
        </ul>
    </div>

</div>
